@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
body{
    background-color: #002339 ;
}
.container{
    margin: 12%;
    padding: 10px;
    width: 100%;
    max-width: 600px;
}
.container h2{
    font-size: 38px;
    color: #019f55;
    font-weight: 700;
    margin-bottom: 30px;
}
.display{
    background-color: #ffffff3f;
    border-radius: 7px;
    margin: 40px 0;
    padding: 35px;
    color: #002339;
    display: flex;
    justify-content: space-between;
}
.date{
    flex: 1;
    margin-right: 20px;
    padding: 14px 20px;
    border: none;
    font-size: 18px;
    border-radius: 7px;
    outline: none;
    position: relative;
    color: #002339;
    font-weight: 600;
}
.btn{
    padding: 10px 15px;
    color: black;
    background: rgb(245, 245, 91);
    border: none;
    font-size: 18px;
    border-radius: 7px;
    cursor: pointer;
}
.date.date::-webkit-calendar-picker-indicator{
    top: 0;
    right: 0;
    left: 0px;
    bottom: 0;
    width: auto;
    height: auto;
    position: absolute;
    background-position: calc(100% - 10px);
    background-size: 25px;
    cursor: pointer;
}
p{
    color: #019f55;
    font-size: 18px;
}
p span{
    color: orange;
}
@media only screen and (max-width:600px) {
    .container{
        margin: 12% 2% 0% 0%;
    }
    .date{
        margin-bottom: 20px;
    }
    .display{
        background-color: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .btn{
        width: fit-content;
        margin: 0 auto;
    }
    p{
        font-size: 16px;
    }
}
    
